@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-geist-sans: var(--font-geist-sans), sans-serif;
  --font-geist-mono: var(--font-geist-mono), monospace;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1485 0.0108 294.2019);
  --popover: oklch(0.9705 0.0098 87.4708);
  --popover-foreground: oklch(0.1485 0.0108 294.2019);
  --primary: oklch(0.7146 0.0795 68.5434);
  --primary-foreground: oklch(0.9202 0.0206 74.6527);
  --secondary: oklch(0.9249 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0 0 0);
  --accent: oklch(0.6466 0.073 68.0744);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.785 0.1251 19.6762);
  --destructive-foreground: oklch(0.9702 0 0);
  --border: oklch(0.9249 0 0);
  --input: oklch(0.93 0.0104 261.7884);
  --ring: oklch(0.8808 0.1005 119.9244);
  --chart-1: oklch(0.7003 0.0699 300.1905);
  --chart-2: oklch(0.8997 0.0499 10.4225);
  --chart-3: oklch(0.7504 0.0708 169.7932);
  --chart-4: oklch(0.8974 0.0789 70.8649);
  --chart-5: oklch(0.8499 0.0498 259.7854);
  --sidebar: oklch(0.9791 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.7146 0.0795 68.5434);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.6466 0.073 68.0744);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9249 0 0);
  --sidebar-ring: oklch(0.8808 0.1005 119.9244);
  --font-sans: Geist, sans-serif;
  --font-serif: "Lora", Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.55rem;
  --shadow-2xs: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.01);
  --shadow-xs: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.01);
  --shadow-sm: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 1px 2px -0.5px hsl(0 0% 0% / 0.03);
  --shadow: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 1px 2px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-md: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 2px 4px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-lg: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 4px 6px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-xl: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 8px 10px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.07);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1485 0.0108 294.2019);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1485 0.0108 294.2019);
  --primary: oklch(0.7146 0.0795 68.5434);
  --primary-foreground: oklch(0.9202 0.0206 74.6527);
  --secondary: oklch(0.9158 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0 0 0);
  --accent: oklch(0.9461 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.785 0.1251 19.6762);
  --destructive-foreground: oklch(0.9702 0 0);
  --border: oklch(0.9249 0 0);
  --input: oklch(0.93 0.0104 261.7884);
  --ring: oklch(0.8808 0.1005 119.9244);
  --chart-1: oklch(0.7003 0.0699 300.1905);
  --chart-2: oklch(0.8997 0.0499 10.4225);
  --chart-3: oklch(0.7504 0.0708 169.7932);
  --chart-4: oklch(0.8974 0.0789 70.8649);
  --chart-5: oklch(0.8499 0.0498 259.7854);
  --sidebar: oklch(0.9791 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.5806 0.0804 70.2874);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.6202 0.1196 40.1404);
  --sidebar-accent-foreground: oklch(0.1485 0.0108 294.2019);
  --sidebar-border: oklch(0.7508 0 0);
  --sidebar-ring: oklch(0.8808 0.1005 119.9244);
  --font-sans: Geist, sans-serif;
  --font-serif: "Lora", Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.55rem;
  --shadow-2xs: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.01);
  --shadow-xs: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.01);
  --shadow-sm: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 1px 2px -0.5px hsl(0 0% 0% / 0.03);
  --shadow: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 1px 2px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-md: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 2px 4px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-lg: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 4px 6px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-xl: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 8px 10px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.07);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1822 0 0);
  --foreground: oklch(0.937 0 0);
  --card: oklch(0.1822 0 0);
  --card-foreground: oklch(0.937 0 0);
  --popover: oklch(0.1822 0 0);
  --popover-foreground: oklch(0.937 0 0);
  --primary: oklch(0.7146 0.0795 68.5434);
  --primary-foreground: oklch(0.9202 0.0206 74.6527);
  --secondary: oklch(0.285 0 0);
  --secondary-foreground: oklch(0.937 0 0);
  --muted: oklch(0.2178 0 0);
  --muted-foreground: oklch(0.9851 0 0);
  --accent: oklch(0.2457 0.003 17.3634);
  --accent-foreground: oklch(0.937 0 0);
  --destructive: oklch(0.6875 0.142 21.4566);
  --destructive-foreground: oklch(0.1822 0 0);
  --border: oklch(0.285 0 0);
  --input: oklch(0.4254 0.0084 248.0259);
  --ring: oklch(0.7918 0.1134 117.6151);
  --chart-1: oklch(0.7058 0.0777 302.0489);
  --chart-2: oklch(0.8391 0.0692 2.6681);
  --chart-3: oklch(0.7321 0.0749 169.867);
  --chart-4: oklch(0.854 0.0882 76.8292);
  --chart-5: oklch(0.7857 0.0645 258.0839);
  --sidebar: oklch(0.1822 0 0);
  --sidebar-foreground: oklch(0.937 0 0);
  --sidebar-primary: oklch(0.7146 0.0795 68.5434);
  --sidebar-primary-foreground: oklch(0.2166 0.0215 292.8474);
  --sidebar-accent: oklch(0.5729 0.1205 38.4764);
  --sidebar-accent-foreground: oklch(0.937 0 0);
  --sidebar-border: oklch(0.285 0 0);
  --sidebar-ring: oklch(0.7918 0.1134 117.6151);
  --font-sans: Geist, sans-serif;
  --font-serif: "Lora", Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.55rem;
  --shadow-2xs: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.01);
  --shadow-xs: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.01);
  --shadow-sm: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 1px 2px -0.5px hsl(0 0% 0% / 0.03);
  --shadow: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 1px 2px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-md: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 2px 4px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-lg: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 4px 6px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-xl: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.03), 2px 8px 10px -0.5px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 2px 2px 8px 0.5px hsl(0 0% 0% / 0.07);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
